.container {
  padding: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.formControl {
  margin-bottom: 10px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input,
.textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.textarea {
  height: 150px;
  margin-bottom: 10px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.copyButton {
  margin-top: 10px;
}

.pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.6;
}

.images-container {
  margin-bottom: 20px;
  display: flex;
}

.table-img,
.result-img {
  max-width: 50%; /* 画像の最大幅。ビューポートに応じて調整可能 */
  border: 2px solid #ccc; /* 枠線のスタイル */
  border-radius: 8px; /* 枠の角を丸く */
  margin: 10px auto; /* 上下のマージンと自動マージンで中央揃え */
  display: block; /* ブロック要素として扱い、margin autoが機能するように */
}
