.container {
  padding: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.formControl {
  margin-bottom: 10px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input,
.textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.textarea {
  height: 150px;
  margin-bottom: 10px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.copyButton {
  margin-top: 10px;
}

.pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
